@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
.header {
  background: hsl(220, 51%, 44%);
  font-family: "Roboto Mono", monospace;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}
.header .header__container .header__container__logo__title .header__container__logo__link .header__container__logo {
  transition: all 600ms ease-in-out;
}
.header .header__container .header__container__logo__title .header__container__logo__link .header__container__logo:hover {
  transform: scale(110%);
}
.header .header__container .header__container__links {
  display: none;
}
@media (min-width: 1320px) {
  .header .header__container .header__container__links {
    display: flex;
    color: hsl(0, 0%, 100%);
  }
}

body {
  background: hsl(350, 100%, 46%);
  font-family: "Roboto Mono", monospace;
}
body .main .main__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
body .main .main__article .main__article__container {
  padding: 2rem;
}
body .main .main__article .main__article__container .main__article__container__pokemons {
  height: 470px;
  max-height: 900px;
  display: grid;
  grid-template-columns: repeat(5, 175px);
  grid-template-rows: repeat(4, 160px);
  position: relative;
}
body .main .main__article .main__article__container .main__article__container__pokemons .container-pokedex {
  grid-column: 1/5;
}
body .main .main__article .main__article__container .main__article__container__pokemons .main__article__container__pokeImage {
  position: absolute;
  top: 50px;
  right: 70px;
  grid-column: 2/3;
  grid-row: 2/3;
}
body .main .main__article .main__article__container .main__article__container__pokemons .main__article__container__pokeImage .main__article__container__pokeImage__img {
  width: 8.5rem;
  height: 8.5rem;
}
body .main .main__article .main__article__container .main__article__container__pokemons .main__article__container__poke-description {
  position: absolute;
  top: 45px;
  left: 120px;
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  width: 200px;
}
body .main .main__article .main__article__container .main__article__container__pokemons .poke-description__name {
  font-size: 0.8em;
  line-height: 2;
  font-size: 1.3rem;
  text-transform: capitalize;
}
body .main .main__article .main__article__container .main__article__container__pokemons .poke-description__type {
  font-size: 1rem;
}
body .main .main__article .main__article__container .main__article__container__pokemons .main__article__container__btns {
  position: absolute;
  top: 20px;
  right: 130px;
  display: flex;
  gap: 3rem;
  grid-column: 3/4;
  grid-row: 4/5;
}
body .main .main__article .main__article__container .main__article__container__pokemons .main__article__container__btns .btn__prev,
body .main .main__article .main__article__container .main__article__container__pokemons .main__article__container__btns .btn__next {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: hsl(300, 1%, 20%);
  padding: 0.5rem;
}
body .main .main__article .main__article__container .main__article__container__pokemons .container__poke-description {
  position: absolute;
  top: 60px;
  left: 10px;
  grid-column: 4/6;
  grid-row: 2/3;
}
body .main .main__article .main__article__container .main__article__container__pokemons .poke__description {
  color: hsl(134, 44%, 49%);
  font-size: 0.8rem;
}
body .main .main__article .main__article__container .disable {
  opacity: 0;
}
body .main .main__article .main__article__container .enable {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: hsl(221, 61%, 27%);
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 0px 5px 100vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40%;
  right: 40%;
}
body .main .main__article .main__article__container .enable .modal__header {
  align-self: end;
}
body .main .main__article .main__article__container .enable .modal__header .modal__close {
  cursor: pointer;
}
body .main .main__article .main__article__container .enable .modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .main .main__article .main__article__container .enable .modal__content .modal__link {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
body .main .main__article .main__article__container .enable .modal__content .modal__link:hover {
  color: hsl(51, 100%, 50%);
}
body .main .main__article .main__article__container__poke-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .main .main__article .main__article__container__poke-types .container__poke-types__info {
  background: hsl(221, 61%, 27%);
  color: hsl(51, 100%, 50%);
  padding: 1rem;
  border-radius: 10px;
}
body .main .main__article .main__article__container__poke-types .container__poke-types__info .container__poke-types__info__title {
  background: hsl(220, 51%, 44%);
  padding: 1rem;
  border-radius: 5px;
}
body .main .main__article .container__poke-types__img {
  margin-bottom: 1rem;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 650px;
  align-self: center;
}
body .main .main__article .container__poke-types__img .container__poke__type {
  display: none;
  background: hsl(221, 61%, 27%);
  color: hsl(51, 100%, 50%);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin: 1rem 0;
}
body .main .main__article .container__poke-types__img .container__poke__type .type__container__description .type__pokemon__name {
  background: hsl(220, 51%, 44%);
  padding: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}
body .main .main__article .container__poke-types__img .container__poke__type .type__container__description .type__pokemon__close {
  cursor: pointer;
}
body .main .main__article .container__poke-types__img .container__poke__type .type__container__description .poke_list {
  list-style: none;
  line-height: 2;
  text-transform: capitalize;
}
body .main .main__article .container__poke-types__img .container__poke__type .type__container__description .poke_list.poke_list::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../assets/img/pokeball.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0.5rem;
}
body .main .main__article .container__poke-types__img > img {
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
body .main .main__article .container__poke-types__img > img:hover {
  filter: brightness(1.2);
  transform: scale(110%);
}
body .main .main__article .disable {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.footer .footer__container {
  display: none;
  background: hsl(220, 51%, 44%);
  padding: 1rem;
}
.footer .footer__container .footer__ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 3rem;
}
.footer .footer__container .footer__ul .footer__li .footer__links {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=styles.css.map */
