@use "variables";
@import "media-queries";

.header {
  background: variables.$poke-blue;
  font-family: "Roboto Mono", monospace;
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    .header__container__logo__title {
      .header__container__logo__link {
        .header__container__logo {
          transition: all 600ms ease-in-out;
          &:hover {
            transform: scale(110%);
          }
        }
      }
    }
    .header__container__links {
      display: none;

      @include desktop() {
        display: flex;
        color: variables.$poke-white;
      }
    }
  }
}
