@use "variables";
@import "media-queries";

.header {
  background: variables.$poke-blue;
  font-family: "Roboto Mono", monospace;
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;

    .header__container__links {
      display: none;

      @include desktop() {
        display: flex;
      }
      .header__container__ul {
        display: flex;
        gap: 2rem;
        list-style: none;

        .header__container__list {
          a {
            font-size: 1.2em;
            text-decoration: none;
            color: variables.$poke-white;
          }
        }
      }
    }
  }
}
