@use "variables";
@import "media-queries";

body {
  background: variables.$poke-red;
  font-family: "Roboto Mono", monospace;

  .main {
    .main__article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10rem;

      .main__article__container {
        padding: 2rem;

        .main__article__container__pokemons {
          height: 470px;
          max-height: 900px;
          display: grid;
          grid-template-columns: repeat(5, 175px);
          grid-template-rows: repeat(4, 160px);
          position: relative;

          .container-pokedex {
            grid-column: 1/5;
          }

          .main__article__container__pokeImage {
            position: absolute;
            top: 50px;
            right: 70px;
            grid-column: 2/3;
            grid-row: 2/3;

            .main__article__container__pokeImage__img {
              width: 8.5rem;
              height: 8.5rem;
            }
          }
          .main__article__container__poke-description {
            position: absolute;
            top: 42px;
            left: 120px;
            grid-column: 1/2;
            grid-row: 4/5;
            display: flex;
            flex-direction: column;
            width: 200px;
          }

          .poke-description__name {
            font-size: 0.8em;
            line-height: 2;
            font-size: 1.3rem;
            text-transform: capitalize;
          }

          .poke-description__type {
            font-size: 1rem;
          }

          .main__article__container__btns {
            position: absolute;
            top: 20px;
            right: 130px;
            display: flex;
            gap: 3rem;
            grid-column: 3/4;
            grid-row: 4/5;

            .btn__prev,
            .btn__next {
              border: none;
              outline: none;
              cursor: pointer;
              background: transparent;
              color: variables.$poke-dark-grey;
              padding: 0.5rem;
            }
          }

          .container__poke-description {
            position: absolute;
            top: 60px;
            left: 35px;
            grid-column: 4/6;
            grid-row: 2/3;
          }

          .poke__description {
            color: variables.$poke-green;
            font-size: 0.8rem;
          }
        }
        .disable {
          opacity: 0;
        }

        .enable {
          display: flex;
          flex-direction: column;
          width: 20%;
          background: variables.$poke-dark-blue;
          padding: 1rem;
          border-radius: 10px 0px 0px 10px;
          box-shadow: 0px 0px 5px 100vmax rgba($color: #000000, $alpha: 0.5);
          position: absolute;
          top: 40%;
          right: 40%;

          .modal__header {
            align-self: end;

            .modal__close {
              cursor: pointer;
            }
          }
          .modal__content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .modal__link {
              color: variables.$poke-white;
              cursor: pointer;
              text-decoration: none;
              font-size: 2rem;

              &:hover {
                color: variables.$poke-yellow;
              }
            }
          }
        }
      }

      .main__article__container__poke-types {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .container__poke-types__info {
          background: variables.$poke-dark-blue;
          color: variables.$poke-yellow;
          padding: 1rem;
          border-radius: 10px;

          .container__poke-types__info__title {
            background: variables.$poke-blue;
            padding: 1rem;
            border-radius: 5px;
          }
        }
      }
      .container__poke-types__img {
        margin-bottom: 1rem;
        border: 2px solid variables.$poke-white;
        border-radius: 10px;
        padding: 0.5rem;
        max-width: 650px;
        align-self: center;

        .container__poke__type {
          display: none;
          background: variables.$poke-dark-blue;
          color: variables.$poke-yellow;
          padding: 1rem;
          border-radius: 10px;
          text-align: center;
          margin: 1rem 0;
          .type__container__description {
            .type__pokemon__name {
              background: variables.$poke-blue;
              padding: 1rem;
              border-radius: 5px;
              text-transform: uppercase;
            }

            .type__pokemon__close {
              cursor: pointer;
            }
            .poke_list {
              list-style: none;
              line-height: 2;
              text-transform: capitalize;

              &.poke_list::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                background-image: url(../assets/img/pokeball.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }

      .container__poke-types__img > img {
        cursor: pointer;
        transition: all 400ms ease-in-out;

        &:hover {
          filter: brightness(1.2);
          transform: scale(110%);
        }
      }

      .disable {
        display: none;
      }
    }
  }
}
