//*FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

//*COLORS
$poke-red: hsl(350 100% 46%);
$poke-yellow: hsl(51 100% 50%);
$poke-dark-yellow: hsl(48 98% 40%);
$poke-black: hsl(0 0% 0%);
$poke-dark-grey: hsl(0 0% 22%);
$poke-dark-grey-light: hsl(0, 1%, 33%);
$poke-white: hsl(0 0% 100%);
$poke-blue: hsl(220 51% 44%);
$poke-light-blue: hsl(202 46% 61%);
$poke-dark-blue: hsl(221 61% 27%);
$poke-dark-grey: hsl(300 1% 20%);
$poke-green: hsl(134 44% 49%);
